{% load static %}
<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Uhuru</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static '/css/main.css' %}" />
		<link rel="stylesheet" href="{% static '/css/styles.css' %}" />
	</head>
	<body id="top">
		<header class="header">
			<nav>
				<div class="logo">
					<h4>Uhuru</h4>
				</div>
								<ul class="nav-links">
									<li>
										<a href="index.html">Home</a>
									</li>
									<li>
										<a href="about.html">About us</a>
									</li>
									<li>
										<a href="#">Services</a>
									</li>
									<li>
										<a href="news.html">News</a>
									</li>
									<li>
										<a href="contact.html">Contact</a>
									</li>
								</ul>

				<div class="burger">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>

				</div>
			</nav>
		</header>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner"  style="background-image: url('{% static "images/back.jpg" %}')">

						<div class="inner" >
							<header>
								<h1>Uhuru</h1>
								<p>A media hub for all uplifting content<br/>

							<a href="#main" class="more">Learn More</a>
							</header>
						</div>
				</section>

		<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<h2>Featured Sermons:</h2>
						<div class="thumbnails">

							<div class="box">
								<a href="https://youtu.be/VXcgi9DUKPQ" class="image fit"><img src="{% static '/images/pic01.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/VXcgi9DUKPQ" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{% static 'images/pic03.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{% static 'images/pic04.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{% static 'images/pic05.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

							<div class="box">
								<a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="{% static 'images/pic06.jpg' %}" alt="" /></a>
								<div class="inner">
									<h3>Nascetur nunc varius commodo</h3>
									<p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
									<a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>

						</div>

					</div>
				</div>
			<div class="wrapper">
				<div class="card">
					<img src="{% static 'images/blog.jpg' %}">

							<div class="info">
								<h1>Blog</h1>
								<h1></h1>
								<p>Here we put content that partains to
								developing our blog post in the coming future
								we expect users to enjoy this feature.
								</p>
								<a href="blog" class="btn">Explore</a>


					</div>
				</div>

				<div class="card">
					<img src="{% static 'images/music.jpg' %}">

							<div class="info">
								<h1>Music</h1>
								<p>Here we put content that partains to
								developing our blog post in the coming future.
								</p>
								<a href="music" class="btn">Explore</a>

					</div>
				</div>

			<div class="card">
					<img src="{% static 'images/podcast1.jpg' %}">

							<div class="info">
								<h1>Podcasts</h1>
								<p>Here we put content that partains to
								developing our blog post in the coming future
								we expect users to enjoy this feature.
								</p>
								<a href="podcast" class="btn">Read More</a>

					</div>
				</div>
			</div>


			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Etiam veroeros lorem</h2>
						<p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>

						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

					</div>
				</footer>

		<!-- Scripts -->
			<script src="{% static '/js/jquery.min.js' %}"></script>
			<script src="{% static '/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static '/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static '/js/skel.min.js' %}"></script>
			<script src="{% static '/js/util.js' %}"></script>
			<script src="{% static '/js/main.js' %}"></script>
<!--			<script src="{% static '/js/app.js' %}"></script>-->

	</body>
</html>