{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music</title>
    <link rel="stylesheet" href="{% static '/css/music.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
#grad1 {
  height: 200px;
  background-image: linear-gradient(to bottom right, green , blue);
}
</style>
</head>
<body>

<!--Hero section-->
<!--<div class="banner" style="background-image: url('{% static "/images/music.png" %}')">-->
<!--    <div class="container">-->
<!--        <div class="banner-content">-->
<!--            <span>MUSIC GALLORE</span>-->
<!--            <h1>BRAND NEW</h1>-->
<!--            <p>Here is where we are uploading our music. We expect to have an explore page. We want guys to be able to listen to their type of music</p>-->
<!--            <a href="#" class="btn-one">Top music</a>-->
<!--            <a href="#" class="btn-two">Favourites</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--    <div id="grad1">-->

<!--    </div>-->
    <div class="ta-app-wrapper">
        <aside>
            <ul class="links">
                <li><a href="#"><span class="material-icons"    >
explore
</span>Explore</a></li>
            </ul>
        </aside>
    </div>

</body>
</html>