{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Music</title>
  <link rel="stylesheet" href="{% static '/css/music.css' %}" />
  <!-- ! NEW CODE SNIPPET -->
  <link rel="stylesheet" href="{% static '/css/all.min.css' %}" />
  <!-- <link
    rel="stylesheet"
    href="{% static '/css/jp music/jp music player.css' %}"
  /> -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />

  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
  <!-- ! NEW CODE SNIPPET -->
  <script src="{% static '/js/jp music/jquery.min.js' %}"></script>
  <script src="{% static '/js/jp music/jquery.jplayer.min.js' %}"></script>
  <script src="{% static '/js/jp music/jplayer.playlist.min.js' %}"></script>
  <script src="{% static '/js/jp music/jp music player.js' %}"></script>
    <style>
     



.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded{
    background: #e0e0e0;
    height:4px;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played{
    height: 4px;
    background-color: #2196F3 !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb{
    background-color: #2196F3 !important;
}



    </style>

</head>
<body>



        <div class="topnav">
            <div style="color:white; margin-right: 15px; float:left; padding:32px 14px; margin-left; 15px">Search</div>
        </div>
        <aside>
            <ul class="links">
                <div class="bread">Music</div>
                <li><a href="#" class="active"><span class="material-icons">explore</span>Explore</a></li>
                <li><a href="#"><span class="material-icons">grade</span>Trending</a></li>
                <li><a href="#"><ion-icon name="musical-notes"></ion-icon>Stream</a></li>
                <li><a href="#"><span class="material-icons">library_music</span>Albums</a></li>

                <li><a href="#"><span class="material-icons">favorite</span>Liked</a></li>
            </ul>

            <ul class="links">
                <div class="bread">My Playlist</div>
                <li><a href="#"><span class="material-icons">queue_music</span>List 1</a></li>
                <li><a href="#"><span class="material-icons">queue_music</span>List 2</a></li>
                <li><a href="#"><span class="material-icons">queue_music</span>List 3</a></li>


            </ul>
        </aside>
    <div class="ta-app-wrapper" style="padding-top: 75px; padding-left: 275px;">
        <div class="ta-app">
            <div class="top1 column col-6" style="269px;">
                <div class="mood">
                <h1 class="title">Mood for today</h1>
                 <section class="right" >
                     <a href="" class="show">Show all</a>
                    <button><span class="material-icons">keyboard_arrow_left</span></button>
                    <button><span class="material-icons">keyboard_arrow_right</span></button>
                </section>
                </div>
<!--                <div class="flex" style="flex-direction:column; height:100%; overflow:hidden;" >-->
<!--                    <a href="" style=" width:100%;  flex:1; padding: 20px 0;">-->
<!--                        <span class="background" style="background:red; width:100%; display:block; height:100%;">Fow</span></a>-->

<!--                     <a href="" style=" width:100%;  flex:1; padding: 20px 0;">-->
<!--                        <span class="background" style="background:red; width:100%; display:block; height:100%;">Fow</span></a>-->

<!--                </div>-->
                <a href="" class="ta-genre-block">Mood 1</a>
                <a href="" class="ta-genre-block">Mood 2</a>
                <a href="" class="ta-genre-block">Mood 3</a>
                <a href="" class="ta-genre-block">Mood 4</a>
                <a href="" class="ta-genre-block">Mood 5</a>




            </div>
            <div class="top column col-6">
            <h1 class="title">Weekly Chart</h1>
         <section class="right" >
             <a href="" class="show">Show all</a>
            <button><span class="material-icons">keyboard_arrow_left</span></button>
            <button><span class="material-icons">keyboard_arrow_right</span></button>
        </section>

        <div class="ta-stat-board flex-column ">
            <ul>
            <li>#</li>
            <li id="stat1">Title</li>
            <li class="stat">Artist</li>
            <li class="stat">Album</li>

            </ul>

            <div class="ta-stat-tracks" style="clear:both;" >


            <div class="stat-image" style="background-image: url(https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg);"></div>
            <div class="card-stat" >
                <a href="" class="title">Love Awakens</a>
                <a href="" class="username">Kanye  West</a>
                <a href="" class="username">Jesus is King</a>


            </div>


            </div>
            <div class="ta-stat-tracks" style="clear:both;" >


            <div class="stat-image" style="background-image: url(https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg);"></div>
                <div class="card-stat" >
                <a href="" class="title">Love Awakens</a>
                <a href="" class="username">Kanye  West</a>
                <a href="" class="username">Jesus is King</a>


            </div>

            </div>
            <div class="ta-stat-tracks" style="clear:both;" >


            <div class="stat-image" style="background-image: url(https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg);"></div>
                <div class="card-stat" >
                <a href="" class="title">Love Awakens</a>
                <a href="" class="username">Kanye  West</a>
                <a href="" class="username">Jesus is King</a>


            </div>

            </div>
            <div class="ta-stat-tracks" style="clear:both;" >


            <div class="stat-image" style="background-image: url(https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg);"></div>
                <div class="card-stat" >
                <a href="" class="title">Love Awakens</a>
                <a href="" class="username">Kanye  West</a>
                <a href="" class="username">Jesus is King</a>


            </div>

            </div>
            <div class="ta-stat-tracks" style="clear:both;" >


            <div class="stat-image" style="background-image: url(https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg); "></div>
               <div class="card-stat" >
                <a href="" class="title">Love Awakens</a>
                <a href="" class="username">Kanye  West</a>
                <a href="" class="username">Jesus is King</a>



            </div>


            </div>
        </div>



        </div>


        <h1 class="recent" >Recently Added</h1>
        <section class="right" >
             <a href="" class="show">Show all</a>
            <button><span class="material-icons">keyboard_arrow_left</span></button>
            <button><span class="material-icons">keyboard_arrow_right</span></button>
        </section>



        <div class="cards grid-container">
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "All I Need",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/7.All I Need.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >All I Need</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
           
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "We Are Free",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/5.We Are Free.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >We Are Free</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
          
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Holy Spirit",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/4.Holy Spirit Medley.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >Holy Spirit</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
            
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Utukufu",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/3.Utukufu.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >Utukufu</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Mungu Wetu",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/2.Mungu Wetu.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >Mungu Wetu</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
            
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Imba",
                "artist": "Bethu & HPB",
                "mp3":
                  "{% static 'music/1.Imba.mp3' %}",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg"
              }'
                >Imba</a
              >
              <a href="#" class="username">Bethu & HPB</a>
            </div>
         
          </div>
        </div>
        <h1 class="title">Trending</h1>
          <section class="right" >
             <a href="" class="show">Show all</a>
            <button><span class="material-icons">keyboard_arrow_left</span></button>
            <button><span class="material-icons">keyboard_arrow_right</span></button>
        </section>

        <div class="cards grid-container">
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Josh Wilson</a>
            </div>
            
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Kanye North</a>
            </div>
         
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Josh Wilson</a>
            </div>
            
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Josh Wilson</a>
            </div>
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Josh Wilson</a>
            </div>
        
          </div>
          <div class="card set">
            <div
              class="image"
              style="
                background-image: url(http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV);
                background-size: cover;
                width: 100%;
                height: 100%;
              "
            ></div>
            <div class="card-text">
              <a
                href="#"
                class="title play-song"
                data-song='{
                "title": "Pushing Bakch the dark",
                "artist": "Josh Wilson",
                "mp3":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "oga":
                  "http://docs.google.com/uc?export=open&id=1iiz-fSgqp2lkvFuQbwH7pTRSkJsyKTS7",
                "poster":
                  "http://docs.google.com/uc?export=open&id=1vB7a-dNGlHVgQa4touJrSoq9aMKNIRiV"
              }'
                >Pushing Back the Dark</a
              >
              <a href="#" class="username">Josh Wilson</a>
            </div>
         
          </div>
        </div>




        <span style="background-image: url(&quot;https://i1.sndcdn.com/artworks-000147165684-3hzdwx-t500x500.jpg&quot;); width: 100%; height: 100%; opacity: 1;" class="sc-artwork sc-artwork-placeholder-10  image__full g-opacity-transition" aria-label="Sunday music and hot coffee.." aria-role="img"></span>
        <!-- <div id="aplayer"  ></div> -->
        <div
          id="jp_container"
          class="jp-video jp-video-270p"
          role="application"
          aria-label="media player"
        >
          <div class="jp-gui">
            <!-- <div class="jp-video-play" >
          <button class="video-play-icon" role="button" tabindex="0">
            play
          </button>
        </div> -->
            <div class="interface">
              <div class="left">
                <div id="jquery_jplayer_1" class="fas jp-jplayer"></div>
                <div class="details">
                  <div>
                    <i class="fas fa-compact-disc"></i>
                    <span class="jp-title" aria-label="title">&nbsp;</span>
                  </div>

                  <div>
                    <i class="fas fa-microphone-alt"></i>
                    <span class="jp-artist">&nbsp;</span>
                  </div>
                </div>
              </div>
              <div class="middle">
                <div class="jp-progress">
                  <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                  </div>
                  <div class="jp-time">
                    <div class="jp-current-time" role="timer" aria-label="time">
                      &nbsp;
                    </div>
                    <div class="jp-duration" role="timer" aria-label="duration">
                      &nbsp;
                    </div>
                  </div>
                </div>
                <div class="controls-holder">
                  <div class="controls">
                    <div class="shuffle-option">
                      <button
                        class="jp-shuffle toggle"
                        role="button"
                        tabindex="0"
                      >
                        <i class="fas fa-random"></i>
                      </button>
                      <button
                        class="jp-shuffle-off toggle"
                        role="button"
                        tabindex="0"
                      >
                        <i class="fas fa-random"></i>
                      </button>
                    </div>
                    <button
                      class="jp-previous change"
                      role="button"
                      tabindex="0"
                    >
                      <i class="fas fa-step-backward"></i>
                    </button>
                    <div class="play-options">
                      <button class="jp-play main" role="button" tabindex="0">
                        <i class="fas fa-play"></i>
                      </button>
                      <button class="jp-pause main" role="button" tabindex="0">
                        <i class="fas fa-pause"></i>
                      </button>
                    </div>
                    <button class="jp-next change" role="button" tabindex="0">
                      <i class="fas fa-step-forward"></i>
                    </button>
                    <button class="jp-stop change" role="button" tabindex="0">
                      <i class="fas fa-stop"></i>
                    </button>
                    <div class="repeat-options">
                      <button
                        class="jp-repeat toggle"
                        role="button"
                        tabindex="0"
                      >
                        <i class="fas fa-redo-alt"></i>
                      </button>
                      <button
                        class="jp-repeat-off toggle"
                        role="button"
                        tabindex="0"
                      >
                        <i class="fas fa-redo-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right">
                <div class="playlist-options">
                  <button class="jp-remove-playlist" role="button" tabindex="0">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button class="jp-show-playlist" role="button" tabindex="0">
                    <i class="fas fa-list"></i>
                  </button>
                  <button class="jp-hide-playlist" role="button" tabindex="0">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <div class="volume-controls">
                  <div class="extremes">
                    <div>
                      <button class="jp-mute" role="button" tabindex="0">
                        <i class="fas fa-volume-mute"></i>
                      </button>
                      <button class="jp-unmute" role="button" tabindex="0">
                        <i class="fas fa-volume-down"></i>
                      </button>
                    </div>
                    <button class="jp-volume-max" role="button" tabindex="0">
                      <i class="fas fa-volume-up"></i>
                    </button>
                  </div>
                  <div class="jp-volume-bar">
                    <div class="jp-volume-bar-value"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="jp-playlist">
              <ul>
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li>&nbsp;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Jquery link-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js.map" ></script>
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>-->

    <script type="text/javascript">
<!--        $(".album-poster").on('click',function(e){-->
<!--            var dataSwitchId = $(this).attr('data-switch');-->

<!--            ap.list.switch(dataSwitchId);-->

<!--            ap.play();-->

<!--            $("#aplayer").addClass('showPlayer');-->
<!--        });-->
        const ap = new APlayer({
                container: document.getElementById('aplayer'),
                listFolded: true,
                audio: [
                {
                    name: 'Imba',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/1.Imba.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },

               {
                    name: 'Mungu Wetu',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/2.Mungu Wetu.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },
                {
                    name: 'Utukufu',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/3.Utukufu.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },
                {
                    name: 'Holy Spirit',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/4.Holy Spirit Medley.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },
                {
                    name: 'We Are Free',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/5.We Are Free.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },
                {
                    name: 'All I need',
                    artist: 'Bethu & Highest Praise band',
                    url: "{% static 'music/7.All I Need.mp3' %}",
                    cover: 'https://e-cdns-images.dzcdn.net/images/cover/d05345809ef1ead7df7f3ab64b08db4a/500x500.jpg'
                },
            ]
            });
    </script>
</body>




</html>