<!DOCTYPE html>
<html lang="en">
  <head>
    {% if not request.user.is_admin %} {% endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/authentication.css" />
    <title>Memoir | Reset</title>

    <!-- Description -->
    <meta name="description" content="This is home, this is us, ALWAYS!" />
    <!-- og:title -->
    <meta property="og:title" content="Memoir | Canada Hall" />
    <!-- og:url -->
    <meta property="og:url" content="/" />
    <!-- og:description -->
    <meta
      property="og:description"
      content="This is home, this is us, ALWAYS!"
    />
    <!-- og:image -->
    <meta property="og:image" content="/static/img/logo-cover-compressed.png" />

    <link rel="shortcut icon" href="/static/img/favicon.png" />
  </head>

  <body>
    <a href="index.html">
      <div class="icon">
        <img src="/static/img/pp.jpg" alt="" />
      </div>
    </a>
    <form action="" class="form" method="POST">
      {% if validlink %} {% csrf_token %}
      <div class="title">
        <h2>Reset</h2>
      </div>
      <div class="input">
        {% if form.new_password1.errors %} {% for error in form.password1.errors
        %}
        <div class="forget error">
          <p><i class="fas fa-exclamation-triangle"></i> {{error}}</p>
        </div>
        {% endfor %} {% endif %}
        <div
          class="inputBox {% if form.new_password1.errors %}error{% endif %}"
        >
          <label for="">New Password</label>
          <input
            type="text"
            name="new_password1"
            placeholder="......"
            required
          />
        </div>

        {% if form.new_password2.errors %} {% for error in form.password2.errors
        %}
        <div class="forget error">
          <p><i class="fas fa-exclamation-triangle"></i> {{error}}</p>
        </div>
        {% endfor %} {% endif %}
        <div
          class="inputBox {% if form.new_password2.errors %}error{% endif %}"
        >
          <label for="">Retype Password</label>
          <input
            type="text"
            name="new_password2"
            placeholder="......"
            required
          />
        </div>
        <div class="inputBox">
          <input type="hidden" name="next" value="{{ next }}" />
          <input type="submit" value="Reset" />
        </div>
      </div>
      {% else %}
      <div class="forget">
        <p><i class="fas fa-exclamation-triangle"></i> This link is invalid.</p>
      </div>
      {% endif %}
    </form>
  </body>
</html>
